{% extends "template.html" %} {% block title %} Sign-Up {% endblock %} {% block style %} {% endblock %} {% block heading %} Sign Up {% endblock %} {% block content %}


<div class='login-box'>
    {% if form %}

    <!-- This is responsible for messages of errors -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="invalid">
        {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}



    <form action="{{url_for('signup')}}" method="POST" style="padding:5px;">
        <div class='user-box'>
            <!-- Username Field -->
            {{ form.username.label }}: <br> {{ form.username }}
            <br> {% if form.username.errors %} {% for error in form.username.errors %}
            <b class="invalid"> {{ error }} </b>
            <br> {% endfor %} {% endif %}
        </div>
        <div class='user-box'>
            <!-- Password Field -->
            {{ form.password.label }}: <br> {{ form.password }}
            <br> {% if form.password.errors %} {% for error in form.password.errors %}
            <b class="invalid"> {{ error }} </b>
            <br> {% endfor %} {% endif %}
        </div>
        <div class='user-box'>
            <!-- Confirm Password Field -->
            {{ form.confirm_password.label }}: <br> {{ form.confirm_password() }}
            <br> {% if form.confirm_password.errors %} {% for error in form.confirm_password.errors %}
            <b class="invalid"> {{ error }} </b>
            <br> {% endfor %} {% endif %}
        </div>

        <div class=>
            {{ form.csrf_token }} {{ form.submit(class="form-submit-button") }}
        </div>
    </form>
</div>
{% endif %} {% endblock %}