<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %} </title>
    <style>{% block style %} {% endblock %} </style>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <header style="margin: auto; text-align: center;">
        <h2 style="color: #e6e6e6;">{% block header %} {% endblock %}</h2>
        <strong>
               <ul style="list-style-type: none;float: right;font-size: large; margin-right: 20px;">
                  <li style="display:inline"><a href="{{ url_for('home')   }}">Home</a></li>
                  {% if current_user.is_anonymous %}
                  <li style="display:inline"><a href="{{ url_for('login')  }}">Login</a></li>
                  <li style="display:inline"><a href="{{ url_for('signup') }}">Sign Up</a></li>
                  {% else %}
                  <li style="display:inline"><a href="{{ url_for('decks') }}">Decks</a></li>
                  <li style="display:inline"><a href="{{ url_for('createDeck') }}">Create Deck</a></li>
                  <li style="display:inline"><a href="{{ url_for('createCard') }}">Create Card</a></li>
                  <li style="display:inline"><a href="{{ url_for('logout') }}">Logout</a></li>
                  {% endif %}
               </ul>
            </strong>
    </header>
    {% block content %} {% endblock %}
    <!-- content end  -->
</body>

</html>